@font-face {
  font-family: Bold;
  src: url(/assets/fonts/Akzidenz-grotesk-bold.ttf);
}
@font-face {
  font-family: Light;
  src: url(/assets/fonts/Akzidenz-grotesk-light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7D7D8;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  padding: 1.3em 0;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.57);
}
.main-header img {
  width: 10rem;
}
.main-header nav a {
  margin: 0 1.2em;
  font-size: 1.3em;
  text-decoration: none;
  font-family: Bold;
  color: #6D6E70;
}

main {
  max-width: 1350px;
  margin: auto;
  background-color: #FFF;
}

.section-one {
  position: relative;
  margin-bottom: 0.5em;
}
.section-one .container {
  position: absolute;
}
.section-one .container h2 {
  font-size: 3.8vw;
  color: #FFF;
  font-family: Bold;
  line-height: 0.9;
}
.section-one .container h3 {
  font-size: 2vw;
  color: #FFF;
  font-family: Light;
}
.section-one .container button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.5em 1.3em;
  margin: 2em 0 0 0;
}
.section-one img {
  width: 100%;
}
.section-one .container {
  top: 8vw;
  left: 2vw;
}

.section-two {
  position: relative;
}
.section-two .container-two {
  position: absolute;
  top: 4vw;
  left: 2vw;
  width: 40%;
}
.section-two .container-two h2 {
  font-size: 3.8vw;
  color: #000;
  font-family: Bold;
  line-height: 0.9;
}
.section-two .container-two h3 {
  font-size: 2vw;
  color: #000;
  font-family: Light;
  line-height: 1.3;
  margin-top: 0.3em;
}
.section-two .btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2em;
}
.section-two .btn-container input::-webkit-outer-spin-button,
.section-two .btn-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.section-two .btn-container ::placeholder {
  font-size: 1.3em;
  padding-left: 0.8em;
}
.section-two .btn-container button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.5em 1.3em;
  margin: 0 0 0 1em;
}
.section-two p {
  font-size: 0.75em;
  margin-top: 3em;
  font-family: Light;
}
.section-two p a {
  text-decoration: none;
}
.section-two img {
  width: 100%;
}

.section-three {
  position: relative;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.section-three .container {
  position: absolute;
}
.section-three .container h2 {
  font-size: 3.8vw;
  color: #FFF;
  font-family: Bold;
  line-height: 0.9;
}
.section-three .container h3 {
  font-size: 2vw;
  color: #FFF;
  font-family: Light;
}
.section-three .container button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.5em 1.3em;
  margin: 2em 0 0 0;
}
.section-three img {
  width: 100%;
}
.section-three .container {
  top: 8vw;
  right: 8vw;
  width: 40%;
}
.section-three .container p {
  font-size: 1.05vw;
  margin-top: 3em;
  font-family: Bold;
  font-weight: 400;
  color: #FFF;
  width: 120%;
}
.section-three .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 2em;
}
.section-three .form-container input, .section-three .form-container select, .section-three .form-container button {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
.section-three .form-container button {
  margin-left: 1em;
  padding: 0.35em 1em;
}
.section-three .form-container select {
  padding: 0 1.2em;
}
.section-three .form-container select option {
  font-weight: 600;
  color: #6D6E70;
  font-size: 1vw;
}
.section-three .form-container input {
  margin-left: 1em;
  width: 20%;
  border: none;
}
.section-three .form-container input::-webkit-outer-spin-button,
.section-three .form-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.section-three .form-container ::placeholder {
  font-size: 1vw;
  padding-left: 1em;
}

.section-four {
  text-align: center;
  margin-top: 1em;
}
.section-four h2 {
  font-size: 3.5rem;
  font-family: Bold;
}
.section-four h3 {
  font-size: 1.4rem;
  font-family: Bold;
  color: #6D6E70;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.section-four .link {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Bold;
}
.section-four .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 4em;
  padding: 0 4em;
}
.section-four .gallery div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}
.section-four .gallery img {
  width: 10vw;
}
.section-four .gallery a {
  margin-top: 2em;
  font-family: light;
  color: #56A0D3;
  font-size: 1.1em;
  text-decoration: none;
}/*# sourceMappingURL=stylesheet.css.map */